/*** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Body ****/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    padding: 15px;
}

/**** Fin du body ****/

/**** Titre ****/

h1 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

/**** Fin du Titre ****/

/**** Bouton ****/

#print__btn {
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 15px 20px;
    background-color: #4c56af;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

#print__btn:hover {
    background-color: #459aa0;
}

/**** Fin du bouton ****/